*{
    margin: 0;
    padding: 0;
}

body {
    transition: background-color 0.3s;
    background-color: #fff;
    color: #000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#tela-central{
    width: 30%;
    height: 250px;

    color:white;
    background-color: rgba(109, 109, 109, 0.5);
    box-shadow: 4px 4px 42px -22px rgba(0,0,0,0.75);
    border-radius: 10px;
    gap: 5px;

    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
}

#tela-central h1{
    font-size: 26px;
}

input[type=button]{
    width: 20%;
    height: 35px;
    border: none;
    border-radius: 3px;
    background-color: white;
    color: black;
    
}

.darkmode{
    background-color:black; 
    color: white;
}

.darkmode #tela-central  {
    background-color: #ffffff; /* Cor de fundo para o modo escuro */
    color: #020202; /* Cor do texto para o modo escuro */
}

.darkmode #mudartema  {
    background-color: #000000; /* Cor de fundo para o modo escuro */
    color: #ffffff; /* Cor do texto para o modo escuro */
}
